<!DOCTYPE html>
<html ⚡>
  <head>
  <meta charset="utf-8">
  <title>Newell - Amp</title>
  <link rel="manifest" href="/manifest.json">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="canonical" href="http://local.newell.com">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <style>
    html {
      font-size: 16px;
      font-family: sans-serif;
    }
    .header {
      background-color: white;
      display: flex;
      padding: 10px;
    }
    .header .logo {
      margin: 0 20px;
    }
    .searchbar {
      flex: 1;
      display: flex;
    }
    .sidebar {
      padding: 20px;
      background: white;
    }
    .sidebar a:first-child {
      margin: 0;
    }
    .sidebar a {
      display: block;
      margin: 10px 0;
      padding-right: 40px;
    }
    .menu-toggle {
      display: flex;
      align-items: center;
    }
    .searchbar input {
      flex: 1;
    }
    .searchbar button {
      background-color: #ba161c;
      color: white;
    }
    .footer {
      background-color: black;
      color: white;
      display: flex;
      font-size: 12px;
      padding: 20px;
      margin-top: 20px;
    }
    .footer .legal {
      flex: 1;
    }
    .footer .logo {
      margin-right: 20px;
    }
    .make-it-yours {
      text-align: center;
      padding: 20px 0;
    }
    .make-it-yours .images {
      display: flex;
      width: 100%;
    }
    .make-it-yours .image {
      flex-basis: 25%;
      border-radius: 100%;
      padding: 10px;
    }
    .fiftyfiftys .image {
      position: relative;
    }
    .fiftyfiftys .copy {
      position: absolute;
      z-index: 1;
      color: white;
      width: 50%;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      left: 10px;
      padding: 10px;
    }
    .fiftyfiftys h3 {
      font-size: 26px;
      margin: 10px 0;
    }
    .fiftyfiftys p {
      font-size: 16px;
      margin: 0;
    }
    .fiftyfiftys .image:nth-child(even) .copy {
      left: auto;
      right: 10px;
    }
  </style>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
  <script async custom-element="amp-fx-collection" src="https://cdn.ampproject.org/v0/amp-fx-collection-0.1.js"></script>
  <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
  <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
  </head>
  <body>
    <amp-analytics config="/json/analytics-config.json"></amp-analytics>
    <amp-sidebar id="drawermenu" class="sidebar" layout="nodisplay">
      <a href="/" class="caps text-decoration-none block p1">Sharpie</a>
      <hr/>
      <a class="caps text-decoration-none block p1" href="/">Home</a>
      <a class="caps text-decoration-none block p1" href="/plp.html">Products</a>
    </amp-sidebar>

    <header class="header">
      <a id="sample-menu" class="menu-toggle" on="tap:drawermenu.toggle">
        <amp-img src="/img/hamburger.png" width="51" height="26" alt="navigation"></amp-img>
      </a>
      <amp-img class="logo" src="/img/sharpie-logo.png" width="129" height="50" alt="navigation"></amp-img>
      <div class="searchbar">
        <input type="text"/>
        <button>Search</button>
      </div>
    </header>

    <amp-list
      width="1440"
      height="506"
      layout="responsive"
      src="https://amppwa.herokuapp.com/v1.0/carousel">
      <template type="amp-mustache">
        <amp-carousel
          id="hero-images"
          width="1440"
          height="506"
          layout="responsive"
          type="slides"
          controls
          autoplay
          loop>
          {{#values}}
            <div class="slide"
              data-slide-id="slide{{@index}}">
              <amp-img
                layout="responsive"
                width="1440"
                height="506"
                src="{{img}}"
                alt="{{name}}"></amp-img>
            </div>
          {{/values}}
        </amp-carousel>
      </template>
    </amp-list>

    <amp-list
      height="800"
      layout="responsive"
      width="1200"
      src="/json/home-categories.json">
      <template type="amp-mustache">
        <div class="make-it-yours">
          <h2>Make It Yours</h2>
          <div class="images">
            {{#values}}
              <div class="image">
                <amp-img
                  width="800"
                  height="800"
                  layout="responsive"
                  src="{{img}}"></amp-img>
                <span>{{name}}</span>
              </div>
            {{/values}}
          </div>
        </div>
      </template>
    </amp-list>

    <amp-list
    height="1530"
    layout="responsive"
    width="1150"
    src="/json/5050.json">
      <template type="amp-mustache">
        <div class="fiftyfiftys">
          {{#values}}
            <div class="image">
              <div class="copy">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
              </div>
              <amp-img
                id="fiftyfifty_{{id}}"
                width="1150"
                height="510"
                layout="responsive"
                src="{{img}}"></amp-img>
            </div>
          {{/values}}
        </div>
      </template>
    </amp-list>

    <amp-analytics>
      <script type="application/json">
        {
          "requests": {
            "elementShown": "/ping?user=ixu2esi5&account=ampbyexample&event=${eventId}"
          },
          "triggers": {
            "defaultPageview": {
              "on": "visible",
              "request": "elementShown",
              "selector": "#fiftyfifty_2",
              "vars": {
                "eventId": "5050view"
              }
            }
          }
        }
      </script>
    </amp-analytics>

    <footer id="footer" class="footer">
      <amp-img class="logo" src="/img/white-sharpie-logo.png" width="129" height="50" alt="navigation"></amp-img>
      <div class="legal">
        <div>
          &copy; Brand Name, LLC. All Right Reserved. Brand Name, LLC is a subsidiary of Newell Brands (NYSE:NWL).
        </div>
        <div>
        Terms of Use &nbsp; Copyright &amp; Trademark &nbsp;&nbsp; Privacy Policy
        </div>
      </div>
    </footer>

    <amp-install-serviceworker
      src="/service-worker.js"
      layout="nodisplay">
    </amp-install-serviceworker>
  </body>
</html>
